@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.el-menu-item, [class^="el-message-box"] {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: blue;
}

*:focus {
  outline: none;
}